@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CognitiveSearch.UI.Models.ChatViewModel
<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/js/results_chat.js"></script>
<script src="~/js/facets_chat.js"></script>
<script src="~/js/search_chat.js"></script>
<script src="~/js/chat.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/tree-boxes.css">
<link rel="stylesheet" type="text/css" href="~/css/histogram.css">
<script src="~/js/tree-boxes.js" type="text/javascript"></script>
<script src="~/js/histogram.js" type="text/javascript"></script>
<script>
    aspViewModel = @Html.Raw(Json.Serialize(Model));
    chatUserId = aspViewModel.userId;
    chatToken = aspViewModel.token;
    chatGraphFilters = aspViewModel.filters
    applicationInstrumentationKey = null;
    //temporary workaround for entitymap
    isChat = true;
    $(function () {
        $('.selectpicker').selectpicker('val', ['mustard', 'Relish']);
        $("#chatMessage").keyup(function (e) {
            if (e.keyCode === 13) {
                sendChatMessage();
            }
        });
        $('#details-pivot-content').on('contextmenu', ShowAnnotationContextMenu);
        $('#reference-viewer').on('contextmenu', ShowAnnotationContextMenu);
        $(document).bind("click", function (event) {
            document.getElementById("annotation-menu").className = "hide-contextmenu";
        });
        $(window).resize(function () {
            let documentDiv = document.getElementById('chat-doc-details-div')
            documentDiv.clientHeight;
            let standardsDiv = $("#chat-doc-standards-div")
            standardsDiv.css("min-height", documentDiv.clientHeight - 10 + 'px');
        });
        ChatUpdateGraphFilters(aspViewModel);
        ConnectToChatBot();
    });
</script>

<div class="hide-contextmenu" id="annotation-menu">
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('Abbreviation');">Mark as Abbreviation</span>
    </div>
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('Component');">Mark as Component</span>
    </div>
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('Equipment Class');">Mark as Equipment Class</span>
    </div>
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('Failure Mode');">Mark as Failure Mode</span>
    </div>
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('Manufacturer');">Mark as Manufacturer</span>
    </div>
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('People');">Mark as People</span>
    </div>
    <div class="cm-row">
        <span class="cm-element" onclick="AnnotateSelection('Plant Code');">Mark as Plant Code</span>
    </div>
</div>

<!--Details Modal-->
<div class="modal" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="details-modal-body" class="modal-body">
                <div class="row" style="height: 100%;">
                    <div class="modal-control-group">
                        <span id="close-control" class="modal-control" data-dismiss="modal"><i class="ms-Icon ms-Icon--Clear"></i></span>
                    </div>
                    <div id="details-pivot" class="ms-Pivot col-md-8">
                        <ul id="details-pivot-links" class="ms-Pivot-links"></ul>
                        <div id="details-pivot-content">
                        </div>
                    </div>
                    <div id="tags-panel" class="col-md-4">
                        <div id="transcript-search-box" class="ms-SearchBox">
                            <input class="ms-SearchBox-field" type="text" value="" id="transcript-search-input" placeholder="Search...">
                            <label class="ms-SearchBox-label">
                                <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
                            </label>
                            <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
                                <button class="ms-CommandButton-button">
                                    <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Clear"></i></span>
                                    <span class="ms-CommandButton-label"></span>
                                </button>
                            </div>
                        </div>
                        <div id="details-viewer" style="display:none"></div>
                        <div id="tag-viewer"></div>
                        <hr />
                        <div id="reference-viewer"></div>
                    </div>
                    <input id="result-id" type="hidden" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="main-display-container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div id="chat-container" class="col-md-3">
                    <div id="results-container" class="row">
                        <div class="col-md-12" style="height: 70vh;">
                            <section class="msger">
                                <header class="msger-header">
                                </header>
                                <main class="msger-chat" id="msger-chat-area">
                                </main>

                                <div class="msger-inputarea">
                                    <input type="text" class="msger-input" id="chatMessage" placeholder="Enter your message...">
                                    <button onclick="sendChatMessage();" class="msger-send-btn">Send</button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div id="chat-filters">
                        </div>
                    </div>
                    <div class="row" style="margin:0px">
                        <div class="col-md-8">
                            <ct-visualization id="tree-container"></ct-visualization>
                        </div>
                        <div class="col-md-4" style="background-color: #666; height: 60vh;">
                            <div id="histogram-container"></div>
                        </div>
                    </div>

                        @*<div id="chat-filters">
            <div class="btn-group">
                <button type="button" class="btn btn-danger">
                    Action
                </button>
                <div id="opu-dropdown-container" class="dropdown-menu show">
                    <div class="ms-CheckBox chat-checkbox">
                        <input tabindex="-1" type="checkbox" class="ms-CheckBox-input" onclick="ChatChooseFacet('${name}','${data[j].value}','${j}');"></input>
                        <label id="chat-label-1" role="checkbox" class="ms-CheckBox-field" tabindex="0" aria-checked="false" name="checkboxa" onclick="ChatChooseFacet('${name}','${data[j].value}','${j}');">
                            <span class="ms-Label">
                                1 (20)
                            </span>
                        </label>
                        <div class="chat-facet-thumbs-up menuThumbsDown" style="margin: 7px 3px 7px 7px;" onclick="ShowCategoryContextMenu(event,'${name}','${data[j].value}');"></div>
                    </div>
                </div>
            </div>
        </div>*@
                        @*<ct-visualization id="tree-container"></ct-visualization>
        <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
        <script src="~/js/tree-boxes.js" type="text/javascript"></script>*@

                        @*<img id="graph1" src="/images/graph1.png" alt="Girl in a jacket" width="700" height="400" style="display: none; margin-top: 25px;">
        <img id="graph2" src="/images/graph2.png" alt="Girl in a jacket" width="700" height="400" style="display: none; margin-top: 25px;">
        <img id="graph3" src="/images/graph3.png" alt="Girl in a jacket" width="700" height="400" style="display: none; margin-top: 25px;">*@

                    </div>
            </div>
            <div class="row">
                <div id="entity-map" class="hide">
                    <div id="results-container" class="content-map">
                        <div class="row" style="margin:20px;">
                            <div class="col-md-6"></div>
                            <div class="col-md-2">
                                <label for="slider-currentMaxNodes">Max Levels</label>
                                <label id="lbl-currentMaxLevels" style="float:right">0</label>
                                <input type="range" class="custom-range" min="1" max="5" id="slider-currentMaxLevels" oninput="changeMaxLevels(this.value, false)" onchange="changeMaxLevels(this.value, true)">
                            </div>
                            <div class="col-md-2">
                                <label for="slider-currentMaxNodes">Max Nodes</label>
                                <label id="lbl-currentMaxNodes" style="float:right">0</label>
                                <input type="range" class="custom-range" min="3" max="30" id="slider-currentMaxNodes" oninput="changeMaxNodes(this.value, false)" onchange="changeMaxNodes(this.value, true)">
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-default dropdown-toggle" style="float:right" type="button"
                                        id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true"
                                        float="right">
                                    <strong>Select Facets</strong>
                                    <span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu checkbox-menu allow-focus dropdown-graphfields">
                                    @foreach (var f in Model.facetableFields)
                                    {
                                        <li>
                                            <label>
                                                <input value="@f" type="checkbox"> @f
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div style="display:inline;position: relative;top:-10px;left:10px;">
                            <span id="entity-loading-indicator" class="ms-Spinner ms-Spinner--large" style="display:none;"></span>
                        </div>
                        <div>
                            <svg id="entity-map-svg" height="600px"></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display:block; margin-top:50px">
                <div>
                    <div style="margin:0 10px 10px 10px;">
                        <h2 id="chat-doc-count" style="margin-top:-10px; font-size:14px; display:inline; color: #fff;"> </h2>
                        <div id="maps-viewer" class="hide"></div>
                        <div style="display:inline;position: relative;top:-10px;left:10px;">
                            <span id="loading-indicator" class="ms-Spinner ms-Spinner--large" style="display:none;"></span>
                        </div>
                    </div>
                    <div id="chat-doc-details-div" class="col-md-7">
                    </div>
                    <div class="col-md-3">
                        <div id="chat-doc-standards-div" class="chat-search-row-standards hide">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="chatFilterReset"></div>
                        <div class="widget-content">
                            <div id="chat-facet-nav" class="facet-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <ul id="chat-paginationFooter" class="pagination pull-left"></ul>
            </div>
        </div>
        <div id="chat-search-container">
            <button onclick="ChatTriggerSearch();" class="chat-filter-btn">Search</button>
        </div>
        @*<div class="col-md-2">
                <div>
                    <div>
                        <div class="hide" id="chat-search-container">
                            <button onclick="ChatTriggerSearch();" class="chat-filter-btn">Filter</button>
                        </div>
                        <div id="chatFilterReset"></div>
                        <div class="widget-content">
                            <div id="chat-facet-nav" class="facet-nav"></div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<div class="hide-contextmenu" id="category-rating-menu">
</div>
