<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewData["Title"] = "Video Indexer";
}

<script>

    $(function () {
        var _myContentArea = document.getElementById("myContentArea");
        var _mySearchButton = document.getElementById("mySearchButton");
        _mySearchButton.onclick = getData;

        function getData() {
            var _mySearchField = document.getElementById("mySearchField");
            var pivotsHTML = "";
            $.ajax({
                url: "https://api.videoindexer.ai/Auth/trial/Accounts/ee451cff-6729-4f57-86d3-e6f779d295a5/AccessToken?allowEdit=False",
                type: "GET",
                dataType: "json",
                headers: {
                    'Ocp-Apim-Subscription-Key': 'f0d1a0262df74dc994cb8efa87f28dba'
                },
                success: function (data) {
                    $(document).ready(function () {

                        $.ajax({
                            url: `https://api.videoindexer.ai/trial/Accounts/ee451cff-6729-4f57-86d3-e6f779d295a5/Videos/Search`,
                            headers: {
                                'Ocp-Apim-Subscription-Key': 'f0d1a0262df74dc994cb8efa87f28dba'
                            },
                            type: 'GET',
                            dataType: 'json',
                            data: {
                                'query': _mySearchField.value,
                                'accessToken': data
                            },
                            success: function (data) {
                                var mainContainer = document.getElementById("result");
                                if (data.results.length > 0) {
                                    for (var i = 0; i < data.results.length; i++) {
                                        @*var div = document.createElement("div");
                                        div.innerHTML = data.results[i].name;
                                        mainContainer.appendChild(div);*@

                                        pivotsHTML += '<div id="VideoContent" class="video_content">';
                                        @*pivotsHTML += '<button id="idMyModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">' + data.results[i].name + '</button>';*@
                                        @*pivotsHTML += '<button onclick="openModel()" class="btn btn-info btn-lg">' + data.results[i].name +'</i></button>';*@
                                        pivotsHTML += data.results[i].name;
                                        pivotsHTML += '</div>';

                                        @*$('#myModal').modal('show');*@
                                        $('#VideoContentContainer').html(pivotsHTML);
                                    }
                                } else {
                                    pivotsHTML = "";
                                    $('#VideoContentContainer').html(pivotsHTML);
                                }
                            }
                        });
                    })
                }
            });
        }
    });

    function openModel() {
        $('#myModal').modal('show');
        @*document.getElementById("myModal").style.display = "block";*@
    }

    function closeModel() {
        document.getElementById("myModal").style.display = "none";
    }
</script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div id="results-container" class="row content-results">
    <div class="col-md-2">
        <div id="search-input-group" class="input-group">
            <input class="form-control advancedAutoComplete" id="mySearchField" name="search" placeholder="Search.." type="text">
            <span class="input-group-btn">
                <button id="mySearchButton" class="btn btn-default"><span class="ms-Icon ms-Icon--Search"></span></button>
            </span>
        </div>

    </div>
    <div class="col-md-10">
        <div id="VideoContentContainer">
            <!--Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                     Modal content
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-control-group">
                                <button onclick="closeModel()"><i class="ms-Icon ms-Icon--Clear"></i></button>
                            </div>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



