<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@{
    ViewData["Title"] = "Video Indexer";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>

    function myFunction(accountId, id) {
        var pivotsHTML = "";

        if (accountId != "") {
            pivotsHTML += '<iframe width="852" height="480" src="https://www.videoindexer.ai/embed/player/' + accountId + '/' + id + '/?&locale=en&location=Trial" frameborder="0" allowfullscreen></iframe>';
            pivotsHTML += '<iframe width="580" height="600" src="https://www.videoindexer.ai/embed/insights/' + accountId + '/' + id + '/?&locale=en&location=Trial" frameborder="0" allowfullscreen></iframe>';
            pivotsHTML += '<script src="https://breakdown.blob.core.windows.net/public/vb.widgets.mediator.js"/>';
        }

        $('#modalVideoContent').html(pivotsHTML);

    }

    $(function () {
        var _mySearchButton = document.getElementById("mySearchButton");
        _mySearchButton.onclick = getData;

        function getData() {
            var _mySearchField = document.getElementById("mySearchField");
            var pivotsHTML = "";

            $.ajax({
                url: "https://api.videoindexer.ai/Auth/trial/Accounts/ee451cff-6729-4f57-86d3-e6f779d295a5/AccessToken?allowEdit=False",
                type: "GET",
                dataType: "json",
                headers: {
                    'Ocp-Apim-Subscription-Key': 'f0d1a0262df74dc994cb8efa87f28dba'
                },
                success: function (data) {
                    $(document).ready(function () {
                        $.ajax({
                            url: `https://api.videoindexer.ai/trial/Accounts/ee451cff-6729-4f57-86d3-e6f779d295a5/Videos/Search`,
                            headers: {
                                'Ocp-Apim-Subscription-Key': 'f0d1a0262df74dc994cb8efa87f28dba'
                            },
                            type: 'GET',
                            dataType: 'json',
                            data: {
                                'query': _mySearchField.value,
                                'accessToken': data
                            },
                            success: function (data) {
                                if (data.results.length > 0) {
                                    for (var i = 0; i < data.results.length; i++) {
                                        pivotsHTML += '<div id="VideoContent" class="video_content">';
                                        pivotsHTML += '<div id="viName" class="viName">';
                                        pivotsHTML += '<button onclick="myFunction(\'' + data.results[i].accountId + '\',\'' + data.results[i].id + '\')" id="idMyModal" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: transparent; border: none;"><h4>' + data.results[i].name + '</h4></button>';
                                        pivotsHTML += '</div>';

                                        if (data.results[i].searchMatches.length > 0) {
                                            pivotsHTML += '<div id="viSearchMatchesContent" class="viSearchMatchesContent">';
                                            for (var j = 0; j < data.results[i].searchMatches.length; j++) {
                                                pivotsHTML += '<div id="viSearchMatches" class="viSearchMatches">';
                                                var startTime = data.results[i].searchMatches[j].startTime.substring(0, 8);
                                                var videoText = data.results[i].searchMatches[j].text.replace(data.results[i].searchMatches[j].exactText, "<b>" + data.results[i].searchMatches[j].exactText + '</b>');
                                                pivotsHTML += '<div style="background-color: #00a19c; padding:3px 5px;">' + startTime + '</div>';
                                                pivotsHTML += '<div style="width: 5%;"></div>';
                                                pivotsHTML += '<div style="width: 80%; padding:3px 0px;">' + videoText + '</div>';
                                                pivotsHTML += '</div>';
                                            }
                                            pivotsHTML += '</div>';
                                        }

                                        pivotsHTML += '</div>';

                                        $('#VideoContentContainer').html(pivotsHTML);
                                    }
                                } else {
                                    pivotsHTML = "";
                                    $('#VideoContentContainer').html(pivotsHTML);
                                }
                            }
                        });
                    })
                }
            });
        }
    });
</script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div id="results-container" class="row content-results">
    <div class="col-md-2">
        <div id="search-input-group" class="input-group">
            <input class="form-control advancedAutoComplete" id="mySearchField" name="search" placeholder="Search.." type="text">
            <span class="input-group-btn">
                <button id="mySearchButton" class="btn btn-default"><span class="ms-Icon ms-Icon--Search"></span></button>
            </span>
        </div>

    </div>
    <div class="col-md-10">
        <div id="VideoContentContainer"></div>
        <!--Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="details-modal-body" class="modal-body">
                        <div class="row" style="height: 100%;">
                            <div class="modal-control-group">
                                <span id="close-control" class="modal-control" data-dismiss="modal"><i class="ms-Icon ms-Icon--Clear"></i></span>
                            </div>
                            <div id="modalVideoContent" style="margin-top: 40px; margin-left: 6px; margin-right: 6px;">
                            </div>
                            <input id="result-id" type="hidden" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



