@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CognitiveSearch.UI.Models.SubscribeViewModel

@{
    ViewData["Title"] = "Ratings";
}

<script>
    subscriptions = @Html.Raw(Json.Serialize(Model.subscriptions));
    currentPage = 0;

    function updateTable(query = null) {
        var table = $("#ratings-table-body")
        table.empty();
        rowsHtml = '';
        rowCount = 0;
        for (i in subscriptions) {
            subscription = subscriptions[i]
            if (query != null) {
                if (!subscription.query.includes(query)) {
                    continue
                }
            }
            rowCount += 1
            //var starsDoms = ''
            //for (let i = 0; i < 5; i++) {
            //    if (feedback.rating > i) {
            //        starsDoms += `<span class="fa fa-star ratings-star-checked"></span>`
            //    }
            //    else {
            //        starsDoms += `<span class="fa fa-star"></span>`
            //    }
            //}

            //var ratingContent = `<td class="ratings-table-column-align">${starsDoms}</td>`
            //if (feedback.feedbackRating > 1) {
            //    ratingContent = `<td class="ratings-table-column-align ratings-table-thumbs-up"></td>`
            //}
            //else {
            //    //ratingContent = `<td class="ratings-table-column-align ratings-table-thumbs-down" onclick="tdclick();"></td>`
            //    ratingContent = `<td class="ratings-table-column-align ratings-table-thumbs-down" onclick="remove('${feedback.userID}', '${feedback.documentName}', '${feedback.query}');"></td>`
            //}
            //<td class="ratings-table-column-align">${feedbacks[i].query}</td>
            rowsHtml += `<tr class="ratings-table-rows">
                                <th scope="row">${rowCount}</th>
                                <td>${subscription.query}</td>
                                <td class="ratings-table-column-align ratings-table-delete" onclick="remove('${subscription.query}');"><span class="fa fa-trash"></span></td>
                            </tr>`
        }
        table.html(rowsHtml);
    }

    function remove(query) {
        $.post("/Subscribe/Unsubscribe",
            {
                query: query,
            },
            function (data, status) {
                if (status == "success") {
                    subscriptions = data
                    updateTable()
                }
            }
        );
    };

    function handleFilter() {
        var input = $("#rating-filter-input").val();
        updateTable(input)
    }

    $(function () {
        updateTable()
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<div>
    <div class="content ratings-content">
        <table class="table">
            <thead class="ratings-table-header">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Query</th>
                    <th class="ratings-table-column-align" scope="col"></th>
                </tr>
            </thead>
            <tbody id="ratings-table-body">
            </tbody>
        </table>
    </div>
</div>